@font-face {font-family: Open Sans Regular;src: url(../fonts/OpenSans-Regular.ttf);display:swap;}
@font-face {font-family: Open Sans SemiBold;src: url(../fonts/OpenSans-SemiBold.ttf);display:swap;}
@font-face { font-family: Open Sans Bold;src: url(../fonts/OpenSans-Bold.ttf);display:swap;}
/* Sass Decoration to assign color values*/
:root {
    --black--: #343a40;
    --purple--: #571F9C;
    --ash--: #f2f2f2;
    --white--: #FFFFFF;
    --blue--: #007bff;
    --deepblue--: #0056b3;
}
/* Margin and Padding removal*/
body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
* {
    box-sizing: border-box;
    border: none;
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
h2,h3,h4,h5,h6{
    text-align: center;
}
.header-links a{
    margin-right: 10px;
    font-size: 80%;
    color: white;
    font-weight: 450;

}
nav{
    min-height: 50px;
    width: 100%;
    display: grid !important;
    align-items: center;
    background-color: #e40046 !important;
}
.navbar-container{
    width: 100%;
    display: flex;
    height: 100%;
    padding-left: 65px;
    justify-content: space-evenly;

}

@media all and (max-width: 600px){
  .navbar-container{
    justify-content: space-between;
    padding-left: 15px;
  }
}
nav .div{
    height: 100%;
    display: flex !important;
    align-items: center;
    padding-left: 20px;
    color: white;
}
.form{
  display: flex;
  margin-left: 50px;
}
.form input{
  border:none;
  padding: 5px;
  font-size: 90%;
}
.form input[type='text']{
  width: 490px;
  height: 35px;
  padding-left: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.23);
}
.form input[type='submit']{
  font-size: 90%;
  background-color: black;
  color: white;
  height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.form input::placeholder{
  color: grey;
  font-size: 90%;padding-left: 0px;
  font-weight: normal;
}
.form input:focus{
  border:none;
}
.div span{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 90%;
}
.div a {
  color: white;
  text-decoration: none;
}
.div span i{
  margin-left: 5px;
}
.icon-menu{
    display: none;
}
.index-form{
  display: none !important;
}
@media all and (max-width: 900px){
    .form input[type='text']{
        width: 290px;
    }
    nav .div{
        padding-left: 20px;
    }
    .form{
        display: flex;
        margin-left: 20px;
    }
}
@media all and (max-width: 688px){
    .form input[type='text']{
        padding-left: 5px;
    }
    .div span{
        margin-left: 8px;
        margin-right: 8px;
    }
    .form {
      margin-left: 20px;
    }
}
@media all and (max-width: 667px){
    element{
        display: none;
    }
    nav .div{
        padding-left: 18px;
    }
}
@media all and (max-width: 540px){
    nav .div .form{
        display: none;
    }
    nav{
      height: 90px;
    }
    .more{
        display: none;
    }
    .icon-menu{
        display: block;
    }
    .index-form{
      display: flex !important;
      position: relative;
      margin: auto;
      width: 95%; 
      justify-content:center;
    }
}
hr{
    border-top:1px solid rgb(255 255 255 / 18%) !important;
}
.class-drop{
    position:absolute;
    background-color: black;
    width: 220px;
    right: 0%;
    top: 45px !important;
    color: black !important;
    border:1px solid #e8e8e8;
    display: none;

}
.login-but{
      display: grid !important;
    font-size: 98% !important;
    position: relative !important;
    height: 100%;
    align-items: center;
        font-size: 98% !important;
}
.div ul li{
    width: 100%;
    padding: 7px;
    display: flex;
    cursor: pointer;
}   
.div ul li:hover{
    background-color:#791735 !important;
    color: white;
}
.div ul li:last-child:hover{
  background-color:transparent !important;
}
.div ul li a{
  display: flex;
  align-items: center;
  font-size:85%;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  justify-content: left;
}
.div ul li a i{
  margin-right: 10px;
}



/********************* Shopping Demo-2 **********************/
.demo{padding:45px 0;}
.product-grid2{font-weight:400;font-size: 86%;position:relative}
.product-grid2 .product-image2{overflow:hidden;position:relative}
.product-grid2 .product-image2 a{display:block}
.product-grid2 .product-image2 img{width:100%;height:auto}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid2:hover .product-image2 .pic-1{opacity:0}
.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid2:hover .product-image2 .pic-2{opacity:1}
.product-grid2 .product-new-label{background-color:#3498db;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid2:hover .product-new-label{opacity:0}
.product-grid2 .product-content{padding:20px 10px;text-align:center}
.product-grid2 .title{font-size:17px;margin:0 0 7px}
.product-grid2 .title a{color:#303030}
.product-grid2 .title a:hover{color:#3498db}
.product-grid2 .price{color:#303030;font-size:15px}
@media screen and (max-width:990px){.product-grid2{margin-bottom:30px}
}



/********************* Shopping Demo-6 **********************/
.product-grid6,.product-grid6 .product-image6{overflow:hidden}
.product-grid6{font-weight:400;font-size: 86%;text-align:center;position:relative;transition:all .5s ease 0s}
.product-grid6:hover{box-shadow:0 0 10px rgba(0,0,0,.3)}
.product-grid6 .product-image6 a{display:block}
.product-grid6 .product-image6 img{width:100%;height:auto;transition:all .5s ease 0s}
.product-grid6:hover .product-image6 img{transform:scale(1.1)}
.product-grid6 .product-content{padding:12px 12px 15px;transition:all .5s ease 0s}
.product-grid6:hover .product-content{opacity:0}
.product-grid6 .title{font-size:20px;font-weight:600;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid6 .title a{color:#000}
.product-grid6 .title a:hover{color:#2e86de}
.product-grid6 .price{font-size:18px;font-weight:600;color:#2e86de}
.product-grid6 .price span{color:#999;font-size:15px;font-weight:400;text-decoration:line-through;margin-left:7px;display:inline-block}
.product-grid6 .social{background-color:#fff;width:100%;padding:0;margin:0;list-style:none;opacity:0;transform:translateX(-50%);position:absolute;bottom:-50%;left:50%;z-index:1;transition:all .5s ease 0s}
@media only screen and (max-width:990px){.product-grid6{margin-bottom:30px}
}

h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}


/********************* Shopping Demo-2 **********************/
.demo{padding:45px 0}
.product-grid3{font-weight:400;font-size: 86%;position:relative}
.product-grid3 .product-image2{overflow:hidden;position:relative}
.product-grid3 .product-image2 a{display:block}
.product-grid3 .product-image2 img{width:100%;height:auto}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid3:hover .product-image2 img{transform:scale(1.1)}
.product-grid3 .product-new-label{background-color:#3498db;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid3:hover .product-new-label{opacity:0}
.product-grid3 .product-content{padding:20px 10px;text-align:center}
.product-grid3 .title{font-size:17px;margin:0 0 7px}
.product-grid3 .title a{color:#303030}
.product-grid3 .title a:hover{color:#3498db}
.product-grid3 .price{color:#303030;font-size:15px}
@media screen and (max-width:990px){.product-grid3{margin-bottom:30px}
}



.side-bar-container{
    box-shadow: 0 4px 17px 0 rgba(0,0,0,0.1);
    min-height: 573px;
    background-color: #fff;
    border-radius: 3px;
    display: block;
    width: 190px;
}
.side-bar-container ul{
     position: relative;
}
.side-bar-container ul li.navlink{
    position: static;
    white-space: nowrap;
    word-wrap: break-word;
    border-left: 3px solid transparent !important;
    padding-left: 3px;
    border: 1px solid transparent;
    margin-left: 5px;
    float: left;
    width: 195px;
    border-radius: 1.9px;
    height: 42px;
    color: #fff;
    cursor: pointer;
}
.side-bar-container ul li.navlink:hover{
    background-color: #fff;
    border:0.5px solid #e5e5e5;
    border-left: 3px solid #e40046 !important;
    width: 195px;
    border-right: 0px;
    height: 42px;
    cursor: pointer;
    background-color: #fafafa;
}
.side-bar-container ul li a{
    color: #666;
    border: none;
    display: block;
    font-size: 12px;
    text-decoration: none;
    cursor: default;
    z-index: initial !important;
    position: static !important;
}
.side-bar-container ul li a span.labelIcon{
    height: 23px !important;
    width: 23px !important;
    background-color: #d6e4ec;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right: 5px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    color: #cbcbcb !important;
    float: left;
    margin-top: 6px;
}
.side-bar-container ul li a span.catText{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 135px;
    float: left;
    display: inline-block;
    line-height: 39px;
}
.leftHead{
    font-size: 11px;
    color: #333333 !important;
    margin-left: 17px;
    text-transform: uppercase;
    margin-bottom: 10px;    
    padding-top: 18px;
}
.lnHeight {
    height: auto !important;
}
.lnHeight a span.catText{
    line-height: 22px !important;
}
.blueText{
    color: #25a8ed;
    margin-left: 17px;
    cursor: pointer;
}
.blueText:hover{
    text-decoration: underline;
}
.subDefaultLink{
    color: #666;
    border: none;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 10px;
    text-overflow: ellipsis;
    line-height: 26px;
    margin-left: 19px;
    text-transform: capitalize;
    font-size: 12px;
}
#topSearches{
    font-size: 90% !important;
}
#topSearches i {
    margin-right: 7px;
    margin-top: 11px;
}

.popper{
    position: absolute;
    left: 190px;
    min-width: 200px;
    top: 0%;
    display: none;
    opacity: 0;
    overflow: hidden;
    height: 557px;
    width: 777px;
    line-height: 20px;
    -webkit-transition: left .9s ease-in;
    -moz-transition: left .9s ease-in;
    -ms-transition: left .9s ease-in;
    -o-transition: left .9s ease-in;
    transition: left .9s ease-in;
    background-color: #fafafa !important;
    z-index: 99999;
}
.side-bar-container ul li.navlink:hover > .popper{
    display: flex;
    opacity: 1;
}
.popper-cont {
    float: left;
    height: 557px;
    background: #fafafa;
}
.popper-cont p{
    padding: 0px 17px 0px 16px;
}
.popper-cont p > a{
    font-size: 11px;color: #333;text-transform: uppercase;
}
.popper-border{
    margin-top: 12px;
    border-left: 1px solid #eaeaea;
    height: 525px;
    overflow: hidden;
}
.leftBor {
    border-left: 1px transparent;
}
@media all and (max-width: 990px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
.main-section{
    width: calc(100% - 210px);
}
.carousel-indicators {
    position: absolute ;
    right: 0;
    bottom: -15% !important;
    left: 0;
    background-color: #fff !important;
    z-index: 15;
    width: 100% !important;
    height: 40px !important;
    display: -ms-flexbox;
    display: flex;
    align-items: center !important;
    -ms-flex-pack: center !important;
    justify-content: space-around !important;
    padding-left: 0;
     margin-right: 0px !important;
     margin-left: 0px !important; 
    list-style: none;
}
.carousel-indicators li {
    box-sizing: content-box !important;
    -ms-flex: 0 1 auto      !important;
    flex: 0 1 auto          !important;
    width: 25%              !important;
    align-content: center   !important;
    height: 100%            !important;
    margin-right: 0px       !important;
    margin-left: 0px        !important;
    opacity: 1 !important;
    color: #000 !important;
    text-indent: 0px !important;
    text-align: center;
    font-size: 12px;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
}
.carousel-indicators li.active{
    border-bottom: 1.5px solid black !important;
    margin-top: -6px !important;
}
.middleBottom {
    background-color: #fff;
    text-align: center;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 25px 0;
}
#sdFooter div {
    line-height: 20px;
}
.middleBottom .middleBottomFooter {
    text-transform: uppercase;
    font-size: 14px;
    color: #344c55;
    text-align: left;
}
.col-xs-10 {
    width: 41.66667%;
}
.footer-inner{
    display: flex;
}
.middleBottom .middleBottomFooterImgs {
    margin-top: 10px;
}
.middleBottom .footerConnectImgs .facebookfooterIcon {
    width: 19px;
    height: 28px;
}
a:hover{
    text-decoration: none !important;
}
.mobile{display: none;}
@media all and (max-width: 750px){
    .desktop{display: none !important;}
    .mobile{display: block !important;}
}
.downloadAppContainer{
    width: 100%;
    margin-bottom: 30px;
    background-image: url(assets/images/leaves1x.png);
    display: block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 185px;
    position: relative;
    height: 500px;
    background-color: #fff;
}
.downloadAppParts{
    width: 44%;
    vertical-align: middle;
    display: table-cell;
    margin: 0 auto;
    padding: 0 20px;
}
.downloadAppMainIcon{
    background-position: 0px 0px;
    width: 430px;
    height: 462px;
    background-image: url(../images/appScreenshot@1x.png);
    display: inline-block;
    vertical-align: middle;
}
.downloadAppHeading{
    margin-bottom: 20px;
    width: 85%;
}
.downloadAppParts p{
    font-size: 17.6px;
    font-weight: normal;
    line-height: 1.84;
    color: #777777;
}
.greatDealsBtnCont a i{
    width: 130px;
    height: 41px;
    vertical-align: top;
    background-position: 0px -153px;
    background-image: url(../images/newHomePageIcons@1x.png);
    display: inline-block;
}
footer .col-sm h6{
     font-size: 13px;
     color: #344c55;
     padding-bottom: 15px;
     text-transform: uppercase;
     text-align: left;
 }
 footer .col-sm ul{
         font-size: 12px;
         color: #777 !important;
         list-style-type: none;
         max-width: 210px
 }
 .middle-heading {
     font-family: "font-bold";
     font-size: 14px;
     color: #344c55;
     padding-bottom: 15px;
     text-transform: uppercase;
 }
         .subscribeInputBox {
     font-size: 13px;
     color: #999;
     border: none;
     border-radius: 2.9px;
     background-color: #f7f8fa;
     height: 37.5px;
 }
 .subscribeBtn {
     height: 38px;
     font-size: 12px;
     line-height: 13px;
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
     background-color: #333;
     color: white;
 }
 .registerSubscribeText {
     font-size: 12px;
     color: #777;
     margin-top: 12px;
     clear: both;
 }
 .hidden{
     display: none;
 }
 .footerConnectImgs {
     font-size: 150%;
 }
 .footerConnectImgs a{
     margin-right: 15px;
 }
 .borderBottom {
     border-bottom: 1px solid #e2e2e2;
 }
 .individualTupple {
     border-right: 1px solid #e2e2e2;
     padding: 26px 25px;
     height: 200px;
     box-sizing: border-box;
     text-align: center;
 }
 .sdIconContainer{
     margin-top: 15px;
 }
 .tuppleText {
     margin-top: 15px;
 }
 .top-heading {
     font-family: "font-bold";
     font-size: 18px;
     color: #5a5a5a;
     text-transform: uppercase;
 }
 .tuppleText .subText {
     font-size: 12px;
     color: #a4a3a3;
 }
 .subText {
     font-size: 12px;
     color: #a4a3a3;
 }
 @media (min-width: 576px){
     .col-sm-4 {
         max-width: none !important; 
     }
 }
 .upperContent-footer a{
         width: 25%;
         border-bottom: 1px solid #e2e2e2;
     }
 @media (max-width: 726px){
     .upperContent-footer a{
         width: 50%;
         border-bottom: 1px solid #e2e2e2;
     }
 }
 @media (max-width: 576px){
     .upperContent-footer a{
         width: 100%;
         border-bottom: 1px solid #e2e2e2;
     }
 }
 .navbar-container-2{
     height: 32px;display: flex;justify-content: space-between;overflow-x: scroll;
 }
 .navbar-container-2::-webkit-scrollbar{
     height: 0px;
 }
 .floater::-webkit-scrollbar{
     height: 0px;
 }
 .navbar-container-2 a{
     font-size: 82%;padding: 5px 9px;border-radius: 4px;background-color: #0000001f;color: white; font-weight: 500;
     margin-right: 12px;height: 32px;display: flex;align-items: center;white-space: nowrap;
 }
 .navbar-container-2 a.active{
     background-color: #efff01;
     color: black;
 }
  .navbar-container-2 a:hover{
     text-decoration: none !important;
 }
 .floater{
     width: 100%;height: 55px;background-color: #fff;border-bottom: 1px solid #e2e2e2;border-top: 1px solid #e2e2e2;position: fixed;bottom: 0%;display: flex;justify-content: space-between;
 }
 .content-nav{
     width: 25%;
     padding-top: 13px;
     height: 100%;
     display: grid;justify-content: center;
     align-items: center;
     color: #a0a0a0;
     cursor: pointer;
     font-size: 92%;
     font-weight: 500;

 }
 .content-nav.active{
     color: #e40046 !important;
 }
 .content-nav i{
     font-size: 130%;
     text-align: center;
     margin-bottom: 5px;
 }
 .offer-off{
    font-size: 13px;
    font-weight: 550px;
    color: white;
    background-color: red;
    color: white;
    padding: 1px 2px;
}
.card-details{
    font-weight: 400;
    color: #b9b9b9;
    font-size: 13.5px;
}
.card-newprice{
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.card-slashprice{
    font-weight: 450;
    color: #b9b9b9;
    font-size: 15px;
    text-decoration: line-through;
}
.card-ratings{
    background-color: #ffc800;
    color: white;
    ;padding: 1px 2px;
    align-items: center;
    font-size: 11px;
    border-radius: 2px;
}
.main-box{
    width: 100%;padding: 20px;display: flex;background-color: #fff;margin-bottom: 20px;margin-top: 10px;
}
.main-box > div{
    width: 25%;
    border-right:2.5px solid #e6e3e3;
    height: 100%;
}
.main-box > div > a{
    ;width: 100%;display: grid;justify-content: center;
}
.main-box > div > a:hover{
    text-decoration: none;
}
.main-box > div > a > span {
    text-align: center;
    font-size: 13px;
    justify-content: center;
    display: 
}
.main-box > div > a >img{
    width: 100px;
}
@media all and (max-width: 490px){
    .main-box > div > a >img{
        width: 100%;
    }
}
.letDelivr{
      font-size: 11px;
    font-weight: normal;
    line-height: 1.59;
    text-align: center;
    color: #5a5a59;
    padding-left: 18px;
    padding-right: 13px;
}
.marT10 {
    margin-top: 10px;
    display: flex;justify-content: center;
}
.input-nba input {
    height: 35px;
    padding: 3px 0px 6px 9px;
    line-height: 16px;
    font-size: 12px;
    line-height: 1.47;
    color: #999999;
    width: 92%;
    border-radius: 1.9px;
    background-color: #fbfbfb;
    border: solid 1px #e5e5e5;
}
.controls{
    padding: 8px;
    width: 100%;
    display: flex;justify-content: space-between;
}
.btn-theme-secondary {
    border-color: #333;
    background-color: #333 !important;
}
.btn-theme-secondary {
    color: white !important;
}
.btn-light {
    background-color: #f4f4f4 !important;
    color: #333 !important;
}
.btn {
    border-radius: 3px;
    display: inline-block;
    height: 35px;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    background-color: #e40046;
}
.similarity{
  height: 50px;
  padding: 12px;
  margin-right: 12px;
  border: 2px solid #312222;
  flex-wrap: nowrap;
  background-color: #fffeed;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
.similarity span{
  white-space: nowrap;
}
.filter{
  padding : 12px 10px;
  background-color: #312222;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.filter:hover{
  text-decoration: none !important;
  color: white !important;
}
.filter div{
  height: 50px;
  border-left:1px solid white;
  margin-left: 15px;
  margin-right: 15px;
}
.side-bar-container ul li a:hover{
                color: #e40046 !important;
            }
            .side-bar-container ul li a{
                font-family: 'Open Sans Regular';
                width: 100%;
                display: flex;
                justify-content: end;

            }
            .cat-nav-wrapper{
                width: 100%;
            }
            .top-cat-list{
                width: 100%;
            }
            .cat-list{
                width: 100%;
            }.brand .cat-list{
                display: flex;
                justify-content: space-between;
                font-size: 11px;
                color: #333;
                font-family: 'Open Sans Regular';
                margin-bottom: 8px;
                margin-top: 3px;
            }.brand .cat-list input{
                margin-right: 5px;
            }.selected {
                font: 14px !important;
                color: #5a5a59 !important;
                margin-top: 10px;
                font-family: 'Open Sans Regular';
            }
            .ui-widget-header {
    height: 1px !important;
    background: #020202;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #c3c3c3;
  border-radius: 13px;
  background: black;
}
.ui-widget-content {
    height: 2px !important;
    border: 0;
    background: #e0e0da;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -10px;
  cursor: pointer;
}
.ui-slider-handle {
  outline: none;
}
.ui-slider-handle .amount {
  position: absolute;
  left: 0;
  top: 35px;
  display: none;
  width: 130px;
  padding: 10px 0;
  text-align: center;
  margin-left: -55px;
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  border: 1px solid #53b147;
  background: #53b147;
}
.ui-slider-handle .amount:after {
  content: '';
  display: block;
  position: absolute;
  top: -11px;
  left: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin-left: -5px;
  border-bottom: 5px solid #53b147;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  background-color: #fff;
}
.min-range {
  float: left;
  padding-top: 12px;
  font-size: 12px;
  color: #888;
}
.max-range {
  float: right;
  padding-top: 12px;
  font-size: 12px;
  color: #888;
}
.slider-range-wrap {
    position: relative;
    width: 90%;
    margin: 0 auto;
}.range input{
    border:1px solid rgb(0 0 0 / 28%);
    border-radius: 4px;
    width: 60px;
    height: 35px;
    margin-left: 0px;
}#minimum{
    margin-right: 4px;
}#maximum{
    margin-left: 4px;
}.sub-cat-count{
    font-size: 12px;
    color: #b2b2b2;
}.selected i{
    color: #b2b2b2;
}.cat-list i.icon-star, .Ratings i{
    color: #FFC315;
}.cat-list i.icon-star.active, .Ratings i.icon-star.active{
    color: #e6e5e5;
}.product-tuple-image i{
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 110%;
    cursor: pointer;
}.product-tuple-image i.icon-heart{
    position: absolute;
    top: 4%;
    right: 3%;
    display: none;
    font-size: 110%;
    color: red;
}
#searchWithinSearc{
    width: 100%;border-bottom: 1.5px solid #b5b5b5;font-size: 14px;transition: 0.6s ease-in-out;
}#searchWithinSearc:active, #searchWithinSearc:focus{
    border-bottom: 1px solid #e40046 !important;
}.icon-minus{
    color: #b2b2b2;
    margin-top: 11px !important;
}.icon-plus{
    display: none;
}.firstguy{
    display: inline-block;
    width: 92%;
}
.bread-crum{
            padding: 0 0 10px;
            list-style: none;
            overflow: hidden;
            white-space: nowrap;font-size: 13.1px;
        }
        .bread-crum a{
            color: #212121;
            background-color: transparent;
            text-decoration: none;
            line-height: 18px;
            margin-right: 5px;
        }
        .bread-crum a:hover{
            text-decoration: underline !important;
        }
        .trending-searches{
            color: #999;
            font-size: 13px;
            margin-left: 4px;
        }
        .trending-keyword-search-links a{
            line-height: 23px;
            border-radius: 3px;
            color: #333;
            background-color: #fff;
            border: 1px solid #e7e7e7;
            padding: 4px 20px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            -ms-border-radius: 3px;
            margin-left: 10px;
            display: inline-block;
            font-size: 13px;
            text-decoration: none;
            margin-top: 10px;
        }
        .trending-keyword-search-links a:hover{
            border:1px solid #e7e7e7;
        }
        .left-wrapper {
            background: #fff;
            font-family: "font-regular";
            padding: 17px;
            margin-right: 2px;
            overflow: hidden;
        }
        .cat-wrapper {
            overflow: hidden;
            -webkit-transition: height .3s ease;
            -moz-transition: height .3s ease;
            -ms-transition: height .3s ease;
            -o-transition: height .3s ease;
            transition: height .3s ease;
        }
        .cat-nav-wrapper ul.top-cat-wrapper li.top-cat-list {
            position: relative;
            padding-top: 11px;
        }
        .selected i{
            font-size: 12px;
            font-weight: bolder;
            color: black;
            margin-top: 4px;
            margin-right: 5px;
            color: #959595;
        }
        .sub-cat-wrapper{
            margin-left: 15px;
            margin-right: 0px;
        }
        .category-name-wrapper {
    padding: 0 15px 10px;
    clear: both;
    font-size: 22px;
}.category-name-wrapper .category-name {
    color: #5a5a59;
    float: left;
    margin-top: 10px;
    font-size: 23px;
    max-width: 46%;
}.category-name-wrapper .category-count {
    color: #999;
    margin-left: 5px;
    font-size: 13px;
    vertical-align: 2px;
}.searchBox {
    margin-top: 14px;
    position: relative;
    margin-left: 2%;
    border-left: 1px solid #e5e5e5;
    padding-left: 2%;
    font-size: 14px;
    height: 20px;
    max-width: 20%;
}.lfloat {
    float: left;
}.sorting-sec {
    width: 226px;
    float: right;
    margin-top: 2px;
}.sort-drop {
    position: relative;
    width: 225px;
    border: 1px solid #e8e8e8;
    padding: 12px 12px 12px 10px;
    cursor: pointer;
    border-radius: 3px;
}.clearfix, .clear {
    clear: both;
}.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}.sort-drop .sort-label {
    color: #999;
    font-size: 13px;
    float: left;
    margin-right: 10px;
    padding-left: 4px;
}.sort-drop .sort-selected {
    font-size: 13px;
    float: left;
    width: 63%;
}.sort-drop .sort-arrow {
    color: #999;
    font-size: 13px;
    float: right;
    margin-top: 10px;
}.sort-value {
    cursor: pointer;
    float: right;
    font-size: 12px;
    box-shadow: 0 1px 6px 1px rgba(0,0,0,0.1);
    margin-top: 3px;
    width: 166px;
    color: #999;
    position: absolute;
    z-index: 17;
    background: #fff;
    display: none;
    right: 5.5%;
    border: 1px solid #e8e8e8;
}.search-li.sort-active {
    background: #333;
    color: #fff;
}.sort-value li {
    padding: 13px 15px;
}.sort-value li:hover {
    background: #333;
    color: #fff;
}.pincode-serviceability-check {
    font-size: 16px;
    float: left;
    width: 30%;
    margin-top: 10px;
}.sd-input {
    -webkit-background-image: -webkit-linear-gradient(#333, #333),linear-gradient(transparent, transparent);
    -moz-background-image: -webkit-linear-gradient(#333, #333),linear-gradient(transparent, transparent);
    -ms-background-image: -webkit-linear-gradient(#333, #333),linear-gradient(transparent, transparent);
    -o-background-image: -webkit-linear-gradient(#333, #333),linear-gradient(transparent, transparent);
    background-image: -webkit-linear-gradient(#333, #333),linear-gradient(transparent, transparent);
    background-color: transparent;
    background-position: center bottom,center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px,100% 1px;
    border: 0 none;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    padding-bottom: 8px;
    margin-left: 15px;
    color: #333;
    font-size: 13px;
}
.sd-input:focus{
    border-bottom:1px solid #e40046;
}.pincode-serviceability-check .pincode-enter .pincode-check {
    background: transparent;
    border: none;
    color: #e40046;
    font-size: 13px;
}.product-row {
    color: #212121;
    clear: both;
    padding: 10px 22px 0;
}.product-row section {
    clear: both;
    margin-bottom: 30px;
}.product-tuple-listing {
    padding: 10px 0 0;
    margin-bottom: 15px;
    height: auto;
    z-index: 14;
    width: 25%;
}.product-tuple-image {
    text-align: center;
    position: relative;
    overflow: hidden;
}.product-tuple-image a {
    display: block;
    min-height: 220px;
    padding: 3px 10px;
}.picture-elem {
    display: block;
    max-height: 251px;
    overflow: hidden;
    width: auto;
    height: auto;
    max-width: 100%;
}.col-sm{
    padding-left: 26px !important;
}
.product-tuple-listing:hover{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 4px, 0px -5px 15px -5px rgba(0,0,0,0.22);
}.product-tuple-listing{
    padding: 7px;
}.quick-view-bar {
    line-height: 27px;
    cursor: pointer;
    padding: 2px 11px;
    width: auto;
    float: left;
    font-size: 11px;
    left: 30%;
    display:none;
    text-transform: uppercase;
    height: auto;
    opacity: 0.8;
    position: absolute;
    transition: all 0.6s ease-in-out;
    top: 85%;
    transform: translate(-10%, -70%);
} .product-tuple-listing:hover > .product-tuple-image > .quick-view-bar{
    display: grid;
    top: 80% !important;
    opacity: 1;
}
.product-tuple-description {
    padding: 10px 10px 0;
    z-index: 1;
    position: relative;
}.product-title {
    color: #666;
    font: 13px;
    margin-bottom: 11px;
    max-height: 53px;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 18px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
}.product-price-row {
    line-height: 21px;
}.product-desc-price {
    color: #ccc;
    font-size: 12.5px;
    margin-right: 6px;
    position: relative;
}.product-price {
    font-size: 14px;
    line-height: 19px;
    color: #333;
    height: 20px;
}.product-discount {
    font-size: 11px;
    z-index: 1;
     
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #ccc;
    color: #999;
    padding: 2px 5px 1px;
    float: left;
    margin-top: -1px;
    margin-bottom: 5px;
}.survey{
    display: grid;align-items: center;padding: 25px 10px;
}.survey div > button, .cat-wrapper + button, .bb{
    background-color: transparent !important;color: #343a40 !important;
    border: 1px solid #343a40 !important; 
    margin: auto 10px;
    font-family: "Open Sans Regular";
    font-size: 85%;
}
.survey div > button:hover, .cat-wrapper + button, .bb:hover{
    background-color: #343a40 !important;color: white !important;
    
}
.survey div > button:focus, .cat-wrapper + button, .bb:focus{
    box-shadow: none !important;
    
}@media (min-width: 992px){
.container {
    max-width: 1300px;
}}
.pincode-serviceability-check .pincode-enter .pincode-check {
    margin-top: -5px;
}